<div class="modal fade" id="ModalLayout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-backdrop fade in" style="height: 100%;"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@ViewBag.Title</h4>
            </div>
            <div class="modal-body" id="modalContentBody">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@RenderSection("scripts", required: false)