@model IEnumerable<MyResume.Web.Areas.Administration.Models.ViewModels.CourseViewModel>

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>
<hr />

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading"><strong>@item.Name</strong> - @item.Institution <span class="pull-right">@item.FromYear - @item.ToYear</span></div>
    </div>
}